# 爬蟲相關庫
requests==2.28.1
beautifulsoup4==4.12.2
lxml==4.9.2

# SQL 相關庫
sqlalchemy==2.0.0
psycopg2==2.9.3           # PostgreSQL 的數據庫適配器
mysql-connector-python==8.0.30  # MySQL 的數據庫適配器
pandas==1.5.3             # 數據處理和分析

# 基本操作的庫
pandas==1.5.2
numpy==1.23.5
matplotlib==3.6.3
