<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 租屋網站 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='home/favicon.icon') }}">
</head>
 
 
<body>
    {% include 'layout/header.html' %}

 
    <img src="{{ url_for('static', filename = 'element_img/home_paper.jpg') }}"    alt="房屋圖片">
 

    {% include 'layout/footer.html' %}
</body>
</html>
