<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
 
<body>
    {% include 'layout/header.html' %}
    <form method="POST">
        <h2>登入</h2>
        <label for="username">帳號：</label>
        <input type="text" id="username" name="username" required    autocomplete="off">
        <label for="password">密碼：</label>
        <input type="password" id="password" name="password" required   autocomplete="off">
        <button type="submit">登入</button>
        <a href="{{ url_for('register') }}">沒有帳號？註冊</a>
    </form>
    {% include 'layout/footer.html' %}
</body>
</html>
