<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 租屋管理 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='home/favicon.icon') }}">
</head>
 
 
<body>
    {% include 'layout/header.html' %}

    
    <h2>歡迎，{{ username }}</h2>
    <a href="{{ url_for('logout') }}">登出</a>
    
    
    {% include 'layout/footer.html' %}
</body>
</html>
